body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
}

h1 {
    text-align: center;
    margin: 0 0 20px 0;
}

#canvas {
    border: 1px solid #ccc;
    flex-grow: 1;
    margin-left: 20px;
    position: relative;
}

.bubble {
    stroke: transparent;
    stroke-width: 2;
    transition: transform 0.3s ease, opacity 0.3s ease, stroke 0.3s ease;
}

.bubble.selected {
    stroke: #ffffff;
    stroke-width: 40;
    filter: drop-shadow(0 0 5px rgba(0, 123, 255, 0.5));
    transform: scale(1.05);
}

.bubble-info {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: #333;
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    min-height: 40px;
}

.bubble-info.visible {
    opacity: 1;
    transform: translateY(0);
}

.bubble-info.selected {
    border: 2px solid #007bff; /* Couleur et épaisseur du contour pour les bulles sélectionnées */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Ombre pour un effet visuel */
}

button {
    margin: 5px 0;
    padding: 8px;
    width: auto;
    min-width: 30px;
    min-height: 40px; /* Hauteur minimale pour éviter le rétrécissement */
    cursor: pointer;
    background-color: #007bff;
    color: rgb(253, 253, 253);
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    overflow: hidden;
}

button:hover {
    background-color: #0056b3;
}

#dashboard {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.bubble-text {
    fill: #fff; /* Couleur du texte */
    font-size: 12px; /* Taille de la police */
    text-anchor: middle; /* Centrer horizontalement */
    z-index: 10; /* Assurez-vous que le texte est au-dessus des autres éléments */
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 4px;
    pointer-events: none; /* Empêche le tooltip d'interférer avec les événements de la souris */
    display: none; /* Masquer par défaut */
    z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
}

.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.slider-container input[type="range"] {
    flex-grow: 1;
    margin: 0 5px;
    width: 60px;
    max-width: 100%;
}

input[type="text"] {
    width: 50px;
    margin-right: 5px;
}

input[type="color"] {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    overflow: hidden;
}
